<section class="adminContainer">
    <div class="loginContainer">
        <div class="row">
            <div class="twelve columns">
				<h1>Add Product</h1>
				<form ng-submit="Ctrl.addProduct(name,description,image, price,category,quantity,status)">
					<!-- <fieldset class="innerContainer"> -->
						<input type="text" ng-model="name" placeholder="name">
						<textarea ng-model="description" placeholder="description"></textarea>
						<input type="text" ng-model="image" placeholder="image url">
						<input type="number" ng-model="price" placeholder="price">
						<input type="text" ng-model="category" placeholder="category">
						<input type="number" ng-model="quantity" placeholder="quantity">
						<select ng-model="status">
								<option value="" selected>Status</option>
								<option value="Active">Active</option>
								<option value="Inactive">Inactive</option>
						</select>
						<button>Add Product</button>
					<!-- </fieldset> -->
				</form>
			</div>
		</div>
	</div>
</section>

<a href="/#/home">Home</a>